style.css

@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@700&family=Tinos&display=swap');

body {
font-family: 'Tinos', serif;
  font-weight: 400;
  color:#222;
  font-size:20px;
}

main {
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  grid-template-rows: 20px 20px 20px;
}

header {
  font-size: 18px;
}

h1 {
  font-family: 'Josefin Slab', serif;
  font-weight: 700;	
}

nav {
  font-style: italic;
}

h1, h2 {
	margin: 5;
	margin-bottom: 16px;
	background-color: rgb(235,211,230);
}

div {
	width: 600px;
	padding: 10px;
	margin: 10px;
}

