style.css

@import url('https://fonts.googleapis.com/css?family=Londrina+Solid:900|Roboto&display=swap');

body {
  font-family:sans-serif;
  color:#222;
  font-size:20px;
}

header {
  font-size: 18px;
}

h1 {
  font-family: "Londrina Solid", "Helvetica", sans-serif;
  font-weight: 800;
}

nav {
  font-style: italic;
}

h1, p {
	margin: 5;
	margin-bottom: 16px;
	background-color: #eee;
}
