style.css

body {
  font-family:sans-serif;
  color:#222;
  font-size:20px;
}

header {
  font-size: 20px;
}

nav {
  font-style: italic;
}

h1, p {
	margin: 5;
	margin-bottom: 16px;
	background-color: #eee;
}

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Questrial&display=swap');

h1 {
	font-family: "Lobster";
}

aside img {
  border-width: 3px;
  border-style: solid;
  border-color: #222;

}
